h1 {
    background-color: yellow;
    color:yellow;
}


div {
    background-color: lightblue;
}

p {
    background-color: yellow;
}
<a>[target] {
    background-color: brown;
}

a{
  font-size:50px;
}
</style>

<!-- CJones CSS stylin' comment! -->
