h1 {
    background-color: yellow;
    color:darkorange;
}

.lines {
  width:100%
}

div {
    background-color: lightblue;
}

p {
    background-color: yellow;

}

a{
  font-size:10px;
}


/* CJones CSS stylin' comment! */
