h1 {
    background-color: yellow;
    color:darkorange;
    opacity: .75;
}

.lines {
  width:70%;
  background-color:darkorange;

}

div {
    background-color: lightblue;
}

p {
    background-color: yellow;
    font-size:20px;
    opacity: .85;
}

a{
  font-size:10px;
}
image{
  align:center;
}
html,body{
  background-color:darkorange;
}

/* CJones CSS stylin' comment! */
